<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webWool</title>

</head>
<body>
    <header>
        <h1>¡Bienvenido al mundo mágico de los Muñecos Maymay!</h1>
    </header>

    <nav>
        <div class="text">
          <p> Descubre nuestra amplia selección de muñecos y su ropa de tejido único en su tipo. Esperamos que
             encuentres algo que te guste y que sigas explorando todo lo que nuestra página tiene para ofrecer.</p>
        </div>

        <div class="introduction">
            <div>
                <img src="../../assets/IMG2/muñeca.jpg"/>
            </div>
            <div id="img2">
              <img src="../../assets/IMG2/muñeca3.jpg"/>
            </div>
            <div>
              <img src="../../assets/IMG2/muñeca2.jpg"/>
            </div>

        </div>
    </nav>

    <aside></aside>

    <section>
      <div class="title"><h2>Modelos</h2></div>
      <div class="showcase">
          <div class="accesory">
              <img src="../../assets/IMG2/muñecaBaby.jpg"/>
              <figcaption>Conjunto completo</figcaption>
          </div>
          <div class="accesory">
              <img src="../../assets/IMG2/muñecaBaby.jpg"/>
              <figcaption>Conjunto completo</figcaption>
          </div>
          <div class="accesory">
              <img src="../../assets/IMG2/muñecaBaby.jpg"/>
              <figcaption>Conjunto completo</figcaption>
          </div>
          <div class="accesory">
              <img src="../../assets/IMG2/muñecaBaby.jpg"/>
              <figcaption>Conjunto completo</figcaption>
          </div>
          <div class="accesory">
              <img src="../../assets/IMG2/muñecaBaby.jpg"/>
              <figcaption>Conjunto completo</figcaption>
          </div>
          <div class="accesory">
              <img src="../../assets/IMG2/muñecaBaby.jpg"/>
              <figcaption>Conjunto completo</figcaption>
          </div>
          <div class="accesory">
              <img src="../../assets/IMG2/muñecaBaby.jpg"/>
              <figcaption>Conjunto completo</figcaption>
          </div>
          <div class="accesory">
              <img src="../../assets/IMG2/muñecaBaby.jpg"/>
              <figcaption>Conjunto completo</figcaption>
          </div>
      </div>

        <div class="title"><h2>Ropa de tejido único</h2></div>
        <div class="showcase">
            <div class="accesory">
                <img src="../../assets/IMG2/muñecaBaby.jpg"/>
                <figcaption>Conjunto completo</figcaption>
            </div>
            <div class="accesory">
                <img src="../../assets/IMG2/muñecaBaby.jpg"/>
                <figcaption>Conjunto completo</figcaption>
            </div>
            <div class="accesory">
                <img src="../../assets/IMG2/muñecaBaby.jpg"/>
                <figcaption>Conjunto completo</figcaption>
            </div>
            <div class="accesory">
                <img src="../../assets/IMG2/muñecaBaby.jpg"/>
                <figcaption>Conjunto completo</figcaption>
            </div>
            <div class="accesory">
                <img src="../../assets/IMG2/muñecaBaby.jpg"/>
                <figcaption>Conjunto completo</figcaption>
            </div>
            <div class="accesory">
                <img src="../../assets/IMG2/muñecaBaby.jpg"/>
                <figcaption>Conjunto completo</figcaption>
            </div>
            <div class="accesory">
                <img src="../../assets/IMG2/muñecaBaby.jpg"/>
                <figcaption>Conjunto completo</figcaption>
            </div>
            <div class="accesory">
                <img src="../../assets/IMG2/muñecaBaby.jpg"/>
                <figcaption>Conjunto completo</figcaption>
            </div>
        </div>

    </section>

    <footer>
        <div class="row">
            <div class="socialMedia">
                <p><strong>Redes sociales</strong></p>
                <a href="https://wa.me/51922044558"><img src="../../assets/IMGLOG/whatsapp.png" alt="WhatsApp"></a>
                <a href="https://www.instagram.com/gce.18/"><img src="../../assets/IMGLOG/instagram.jpg" alt="Instagram"></a>
            </div>
            <div class="payments">
                <p><strong>Medios de pago</strong></p>
                <img src="../../assets/IMGLOG/yape.png">
                <img src="../../assets/IMGLOG/visa.png">
            </div>
            <div class="contact">
                <p><strong>Contáctanos</strong></p>
                <p>Atención al cliente:</p>
                <p>922044558</p>
                <p>934671415</p>
            </div>
        </div>
        <hr>
        <div class="author">
            <small>CHAEV/TODOS LOS DERECHOS RESERVADOS</small><br><br>
        </div>
    </footer>
</body>
</html>
