<section>
  <article>
    <div class="information">
      <div>
        <h3>Grupo General</h3>
        <p> En este grupo se encuentran alumnos de todas las carreras y niveles aquí podrás realizar las dudas
           que tengas relacionadas a la Universidad como dudas de un curso,
           opiniones sobre un profesor, recomendaciones, etc.
        </p>
        <a href="https://wa.me/51922044558"><img src="../../assets/IMGLOG/whatsapp.png" alt="WhatsApp"></a>
        <!--<p>Gerson Chancas Evangelista</p>-->
      </div>
      <div class="imgs">
        <img src="../../assets/IMGesan/imgGroupEsan.jpg"/>
      </div>
    </div>
  </article>
<hr>
  <article>
    <div class="information">
      <div>
        <h3>Grupo Ingeniería de Tecnologías de la Información y Sistemas</h3>
        <p> En este grupo se encuentran alumnos exclusivamente de la carrera de ITIS aquí podrás realizar dudas propias sobre la
            carrera, ya sean los cursos, los profesores, etc.
        </p>
        <a href="https://wa.me/51922044558"><img src="../../assets/IMGLOG/whatsapp.png" alt="WhatsApp"></a>
      </div>
      <div class="imgs">
        <img src="../../assets/IMGesan/ingITIS.jpg"/>
      </div>
    </div>
  </article>
<hr>
  <article>
    <div class="information">
      <div>
        <h3>Grupo Ingeniería Industrial</h3>
        <p> En este grupo se encuentran alumnos exclusivamente de Ingeniería Industrial aquí podrás realizar dudas propias sobre la
          carrera, ya sean los cursos, los profesores, etc.
        </p>
        <a href="https://wa.me/51922044558"><img src="../../assets/IMGLOG/whatsapp.png" alt="WhatsApp"></a>
      </div>
      <div class="imgs">
        <img src="../../assets/IMGesan/ingIndustrial.jpg"/>
      </div>
    </div>
  </article>
<hr>
  <article>
    <div class="information">
      <div>
        <h3>Grupo Ingeniería Ambiental</h3>
        <p> En este grupo se encuentran alumnos exclusivamente de Ingeniería Ambiental aquí podrás realizar dudas propias sobre la
          carrera, ya sean los cursos, los profesores, etc.
        </p>
        <a href="https://wa.me/51922044558"><img src="../../assets/IMGLOG/whatsapp.png" alt="WhatsApp"></a>
      </div>
      <div class="imgs">
        <img src="../../assets/IMGesan/ingAmbie.jpg"/>
      </div>
    </div>
  </article>


</section>

<footer>
  <br>
  <div class="author">
    <small>CHAEV/TODOS LOS DERECHOS RESERVADOS</small><br><br>
  </div>
</footer>
