  <section>
    <article>
      <div class="information">
        <div id="welcome">
          <p> Recuerda que estás en un camino lleno de desafíos, pero también de oportunidades.
              Cada día es una nueva oportunidad para aprender algo nuevo, crecer y mejorar.
              No te desanimes por los obstáculos que puedas encontrar, recuerda que son parte del proceso de crecimiento.
               Mantén tu enfoque en tus metas y trabaja duro para alcanzarlas. ¡Tú puedes lograrlo!</p>
          <!--<p>Gerson Chancas Evangelista</p>-->
        </div>
        <div>
          <img src="../../assets/IMGesan/buildingD.jpg"/>
        </div>
      </div>
    </article>
  </section>

  <footer>
    <br>
    <div class="author">
      <small>CHAEV/TODOS LOS DERECHOS RESERVADOS</small><br><br>
    </div>
  </footer>

